/* Fade-in overlay and popup box */
html {
  scroll-behavior: smooth;
}
      body {
        height: 100%;
        position: relative;
      }
      #navbar {
        overflow: hidden;
        background-color: #333;
        
      }

      #chevContainer {
        height: 100%;
        width: 100%;
       
      }

        
      #chevron {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .row {
        height: 100%;
        width: 100%;
      }
      .col {
        height: 100%;
      }
    

      #navbar a{ 
        float: right;
        color: #f2f2f2;
        text-align: right;
      }

      .sticky {
        position: fixed;
        top: 0;
        right: 1%;
        width: 10%;
      }

      .sticky + .content {
        padding-top: 60px;
      }
    

      #projects {
          position: relative;
          width: 50%;
      }

      .progress{
        margin-bottom: 10px;
        width: 100%;
      }

      h2 {
        padding: 2%;
      }

      #carousel {
        width: 100%;
        height: 500px;
      }

      #home {
        display: block;
        text-align: center;
        padding: 15%;
        background: url(images/cat.jpg);
      }

      #projectsSection, #aboutSection {
        padding: 5%;
      }

      #home, #about, #projects, #contact {
        height: 100vh;
        width: 100vw;
      }

      #profile-pic {
        display: block;
        margin-top: 15px;
        margin-left: 15px;
        width: 90%;
        height: auto;
        border-radius: 50%
      }

      .button {
        font-size: 1em;
        color: #fff;
        border: 2px solid #06D85F;
        border-radius: 20px/50px;
        cursor: pointer;
        transition: all 0.3s ease-out;
      }

      .button:hover {
        background: #06D85F;
      }

@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}


.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}