/* GLOBAL STYLING */

@import url(https://fonts.googleapis.com/css?family=Raleway);

:root {
  --primary: #414a6b;
  --secondary: #d8d7dd;
  --dark: #1c1b20;
  --accent: #ff5851;
  --linkedin: #0072b1;
  --twitter: #1DA1F2;
  --instagram: #c13584;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 600;
}

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}

.full-height {
  height: 100vh;
  width: 100%;
}

body {
  font-family: "Gilroy", sans-serif;
}

.shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

/* NAV BAR STYLING */

.nav {
  overflow: hidden;
  position: fixed;
  z-index: 5;
}

.nav a {
  float: left;
  display: block;
  color: gray;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
}

.nav a.active {
  color: var(--dark);
}

.nav .menu-button {
  padding: 1rem 1rem 0;
  display: none;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.hidden {
  display: none;
}

.menu-icon span {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--dark);
  transition: all 250ms ease-in-out;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
  top: 10px;
}
.menu-icon span:nth-child(4) {
  top: 20px;
}

.menu-icon.is-active span:nth-child(1),
.menu-icon.is-active span:nth-child(4) {
  opacity: 0;
}

.menu-icon.is-active span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-icon.is-active span:nth-child(3) {
  transform: rotate(-45deg);
}

/* HOME PAGE STYLING */
#home {
  padding: 10%;
  background: url(images/lightbulb.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: var(--dark);
}

#home h1 {
  font-size: 3.5rem;
}

.arrow {
  animation-name: arrow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: var(--dark);
}
@keyframes arrow {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}

/* ABOUT PAGE STYLING */
.about-column {
  width: 80%;
  height: 100%;
  background-color: var(--primary);
}

.about-column.start {
  animation-name: column;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.profile-card {
  background-color: var(--secondary);
  position: absolute;
  right: 10%;
  top: 8rem;
  width: min(60%, 400px);
  text-align: center;
}

.profile-card.start {
  animation-name: card;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes column {
  0% {
    transform: translate(-400px)
  }
  100% {
    transform: translate(0px)
  }
}

@keyframes card {
  0% {
    transform: translate(-200px)
  }
  100% {
    transform: translate(0px)
  }
}




.card-body {
  margin: 0 auto;
  padding: .2rem;
  justify-content: space-between;
  width: 100%;
}

.profile-pic {
  margin: 2rem auto;
  width: 55%;
  border-radius: 50%;
}

.bio {
  margin-top: 20%;
  width: 80%;
}

.bio hr {
  background-color: var(--accent);
  height: 3px;
  width: 50%;
  margin-left: 0;
}

.resume {
  float: right;
  background-color: var(--accent);
  color: white;
  padding: 7px;
  border-radius: 3px;
  margin-bottom: 3rem;
  border-radius: 0;
}

.resume:hover {
  background-color: #dd4c47;
  transition-duration: 0.25s;
  color: white;
  text-decoration: none;
}

.fa-linkedin:hover {
  color: var(--linkedin);
}

.fa-github:hover {
  color: black;
}

.fa-instagram:hover {
  color: var(--instagram);
}

.fa-twitter:hover {
  color: var(--twitter);
}

.fa-envelope:hover {
  color: white;
}

.contact_icons_about {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: .5rem;
}

.contact_icons_about i{
  color: white;
  margin: 1rem;
}

/* PROJECTS SECTION STYLING*/
#projects {
  padding-top: 3rem;
  background-color: var(--secondary);
}

.card-body {
  padding: 1rem;
}

#projects h1 {
  color: var(--dark);
  text-align: center;
}

.projects-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(auto-fill, 300px);
  margin: 1rem auto;
  max-width: 2000px;
  justify-content: center;
}

.big-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.big-1 .card-body .project-button, .big-2 .card-body .project-button{
  padding: .2rem;
}

.big-1 .card-body .card-title, .big-2 .card-body .card-title{
  font-size: 2rem;
}

.big-1 .card-body .content-tools, .big-2 .card-body .content-tools{
  font-size: 1rem;
}


.content-tools {
  color: var(--accent);
  font-weight: bold;
  font-size: .8rem;
}

.card-body-buttons {
  display: flex;
  height: fit-content;
}


.card-title {
  font-size: 1.3rem;
  font-weight: 700;
}
.project-button {
  border: 2px solid var(--accent);
  color: white;
  background-color: var(--accent);
  padding: .2rem;
  margin: 0rem 0rem 0rem 1rem;
  float: right;
  border-radius: 0;
}

.big-2 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.big-3 {
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
}

#projects hr {
  background-color: var(--accent);
  margin: 1rem auto 2rem;
  width: 7%;
  height: 4px;
}

.project-button:hover {
  border: 2px solid var(--accent);
  color: var(--accent);
  transition-duration: 0.25s;
  background-color: white;
  transition: .25s;
}

.technologies {
  /* margin-top: 10%; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}


.content {
  position: relative;
  overflow: hidden;
  margin: 0.5rem;
}

.content-overlay {
  background: var(--secondary);
  position: absolute;
  /* height: 400px; */
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
  opacity: 1;
}
.content-image {
  object-fit: cover;
  border-bottom: solid 2px var(--accent);
  height: 180px;
}

.big-1 .content-image, .big-2 .content-image, .big-3 .content-image{
  height: 360px;
}

.content-details {
  position: absolute;
  padding: 0 1rem;
  width: 100%;
  top: 50%;
  left: -50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3 {
  color: var(--dark);
  letter-spacing: 0.25rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: var(--dark);
  font-size: 1rem;
}

/* Contact Section */
#contact {
  background-color: var(--primary);
  padding: 2rem;
}

.contact_icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact_icons i {
  color: white;
}

.contact_icons i:hover {
  transform: scale(1.1);
  transition-duration: 0.25s;
}

@media screen and (max-width: 1024px) {
  
  .big-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .big-2 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
  }

  .big-3 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
  }

  .card-body {
    padding: .5rem;
  }
}


/* MOBILE STYLING */
@media screen and (max-width: 768px) {

  .content-description {
    display: none;
  }

  .profile-card {
    display: none;
  }


  .bio hr {
    margin-left: auto;
    margin-right:auto;
  }


  .big-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  
  .big-2 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
  }

  .big-3 {
    grid-column: 1 / span 2;
    grid-row: 7 / span 2;
  }

  .full-height {
    height: auto;
    width: 100%;
  }

  .nav a {
    display: none;
  }
  .nav a.menu-button {
    display: block;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive {
    display: block;
    text-align: left;
  }

  #home {
    height: 100vh;
    background-position: 70%;
    background: url(images/lightbulb_small.jpg) no-repeat;
    background-attachment: relative;
    background-size: cover;
  }

  #home h1 {
    margin-top: 30%;
  }


  .bio {
    width: 100%;
    margin-top: 1rem;
    padding: 5%;
    text-align: center;
  }

  .projects-section {
    margin-top: 20%;
    height: 100%;
  }

  .content-details, .content-overlay {
    display: none;
  }

  #projects hr {
    width: 40%;
  }
}

.project-card-title {
  background-color: var(--dark);
  padding: 1rem;
  color: white;
  margin: 0;
}

@media screen and (max-width: 450px) {

  .profile-card {
    display: none;
  }

  .about-column {
    display: none;
  }

  .big-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }
  
  .big-2 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
  }

  .big-2 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 2;
  }

  .big-1 .content-image, .big-2 .content-image, .big-3 .content-image{
    height: 180px;
  }
}


