/* Fade-in overlay and popup box */
html {
  scroll-behavior: smooth;
}

.row {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

      .card {
        border: none;
        z-index: 5;
        position: absolute;
      }

      .card-body {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      .bio {
        margin-top: auto;
        margin-bottom: auto;
        padding: 5%;
        color: white;
      }

      .skills {
        padding: 5%;
        margin-top: 20%;
        margin-left: 15%;
      }

      .col {
        height: 100%;
        width: 100;
      }

      .progress{
        margin-bottom: 10px;
        width: 80%;
        height: 25px;
      }

      .progress-bar {
        background-color: rgb(66, 179, 179);
      }

      #barTitle {
        background-color: rgb(115, 199, 188);
      }


      h2 {
        padding: 2%;
      }

      #home, #about, #projects, #contact {
        height: 100vh;
        width: 100vw;
      }

      #profile-pic {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        width: 200px;
        height: auto;
        border-radius: 50%;
      }



body{
  background: #eae7dc;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
